<header class="header mb50">
  <h1 class="header__title">Каталог фильмов</h1>
  <div class="search">
    <mat-icon class="search__icon" fontIcon="search"></mat-icon
    ><input
      class="search__input"
      [formControl]="input"
      placeholder="Поиск фильмов..."
    />
  </div>
</header>
<!-- <div>{{ movies$() | async | json }}</div> -->
<main>
  @if(!input.value) {
  <div class="mb50">
    <h2 class="with-high-rating-slider__title">Фильмы с высоким рейтингом</h2>
    <div class="with-high-rating-slider__main">
      @if (!(moviesFilteredByRating$ | async)) {
      <mat-progress-bar class="progress-bar" mode="query" value="30">
      </mat-progress-bar>
      } @else { @for (filteredMovie of (moviesFilteredByRating$|async)!.items;
      track filteredMovie.kinopoiskId) {
      <button
        class="slider-button"
        matButton
        (click)="openDialog(filteredMovie.kinopoiskId)"
      >
        <img
          class="slider-button__poster mb20"
          [src]="filteredMovie.posterUrlPreview"
          alt="film-poster"
        />
        <h2 class="slider-button__title mb10">
          {{
            filteredMovie.nameRu ||
              filteredMovie.nameEn ||
              filteredMovie.nameOriginal
          }}
        </h2>
        <h6 class="slider-button__year">{{ filteredMovie.year }}</h6>
      </button>
      }}
    </div>
  </div>
  }
  <div class="catalog">
    @if (!(movies$() | async)) {
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        strokeWidth="10"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
    } @else { @for (movie of (movies$() | async)!.items; track
    movie.kinopoiskId) {
    <button
      class="film-button"
      matButton
      (click)="openDialog(movie.kinopoiskId)"
    >
      <img
        class="film-button__poster mb20"
        [src]="movie.posterUrlPreview"
        alt="film-poster"
      />
      <h2 class="film-button__title">
        {{ movie.nameRu || movie.nameEn || movie.nameOriginal }}
      </h2>
      <h6 class="film-button__year">{{ movie.year }}</h6>
    </button>
    } @empty {
    <p class="films-not-found">По вашему запросу фильмов не найдено</p>
    } }
  </div>
</main>
<footer class="footer mt100">
  <button
    class="footer-button mr20"
    [ngClass]="{ 'footer-button_inactive': previousPageButton() }"
    (click)="previousPage()"
  >
    Предыдущая страница
  </button>
  {{ page() }}
  <button
    class="footer-button ml20"
    [ngClass]="{ 'footer-button_inactive': nextPageButton() }"
    (click)="nextPage()"
  >
    Следующая страница
  </button>
</footer>
