.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}
