@use "margins";
@use "@angular/material" as mat;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --poppins-family: "Poppins", sans-serif;
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: #fbafd9,
    )
  );
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: #fbafd9,
      track-color: #9d99a0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 40px 100px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #1d1c1e;
}

@media (max-width: 800px) {
  body {
    padding: 40px 50px;
  }
}
